* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.bmi-calculator-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bmi-container {
    background-color: #3c3f45;
    color: white;
    padding: 40px;
}

.about-BMI {
    margin-top: 59px;
}

.bmi-calculator {
    max-width: 400px;
    margin: auto;
    padding: 50px;
    border: 1px solid #ff7f50;
    border-radius: 5px;
    background-color: #f48916;
}

.header {
    color: #20b2aa;
}

.input-container {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-right: 5px;
}

button {
    margin-right: 10px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.calculate-btn {
    background-color: white;
    color: #f48916;
    border: none;
}

.clear-btn {
    background-color: white;
    color: #f48916;
    border: none;
}

.result-container {
    margin-top: 20px;
}

.reduce-text {
    color: white;
}